<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstCode"
        tools:targetApi="31">
        <activity
            android:name=".NotificationTest.NotificationActivity"
            android:exported="false" />
        <!--
              <activity
            android:name=".NotificationTest.MainActivity"
            android:exported="false" />
        -->
        <!--
                <activity
            android:name=".ContactsTest.MainActivity"
            android:exported="false" />
        -->
        <!--
              <activity
                  android:name=".RuntimePermissionTest.MainActivity"
                  android:exported="false" />
        -->
        <!--
                <activity
            android:name=".BroadcastBestPractice.LoginActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".BroadcastBestPractice.MainActivity"
            android:exported="false" />

        <receiver
            android:name=".BroadcastTest.AnotherBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.francis.first.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BroadcastTest.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.francis.first.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BroadcastTest.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!--
               <activity
            android:name=".BroadcastTest.MainActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".FragmentBestPractice.NewsContentActivity"
            android:exported="false" />
        <!--
     <activity
            android:name=".FragmentBestPractice.MainActivity"
            android:exported="false" />
        -->
        <!--
                <activity
            android:name=".FragmentTest.MainActivity"
            android:exported="false" />
        -->
        <!--
             <activity
            android:name=".RecyclerViewTest.MainActivity"
            android:exported="false" />
        -->
        <!--
            <activity
            android:name=".ListViewTest.MainActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".ActivityLifeCycleTest.DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ActivityLifeCycleTest.NormalActivity"
            android:exported="false" />
        <!--
        <activity
            android:name=".ActivityLifeCycleTest.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.FirstCode" />
        -->
        <activity
            android:name=".ThirdActivity"
            android:exported="false"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW"
                    tools:ignore="AppLinkUrlError" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:exported="false">
            <intent-filter>

                <!-- 当前Activity能够响应的action和category -->
                <action android:name="com.francis.first.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.francis.first.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationTest.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>