<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstCode"
        tools:targetApi="31">
        <activity
            android:name=".FragmentBestPractice.MainActivity"
            android:exported="false" />
        <!--
                <activity
            android:name=".FragmentTest.MainActivity"
            android:exported="false" />
        -->
        <!--
             <activity
            android:name=".RecyclerViewTest.MainActivity"
            android:exported="false" />
        -->
        <!--
            <activity
            android:name=".ListViewTest.MainActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".ActivityLifeCycleTest.DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ActivityLifeCycleTest.NormalActivity"
            android:exported="false" />
        <!--
        <activity
            android:name=".ActivityLifeCycleTest.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.FirstCode" />
        -->
        <activity
            android:name=".ThirdActivity"
            android:exported="false"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW"
                    tools:ignore="AppLinkUrlError" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:exported="false">
            <intent-filter>

                <!-- 当前Activity能够响应的action和category -->
                <action android:name="com.francis.first.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.francis.first.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FragmentTest.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>